header {
	width:      100%;
	background: $dark-text;
	display:    block;
	color:      $white;
	padding:    15px 0;
	border-bottom: 2px solid #CCC;

	.header-logo{
		.update-schedule{
			margin-top:     1em;
			text-align:     center;
			text-transform: uppercase;
		}
    }

	@media (min-width: $width-sm) {
		.header-search {
			margin-top: 1.6%; // Line up with clear space in site logo in desktop mode
		}
	}

	.header-search {
		.search-input-container {
			input {
				font-size: .75em;
			}
		}
	}
}
