header{
    width:      100%;
    background: #272727;
    display:    block;
    color:      #FFF;
    padding:    15px 0 30px;

	.header-logo{
        .update-schedule{
            text-align:     center;
            text-transform: uppercase;
        }
    }

	.header-search {
		padding-top: 8px; // Line up with clear space in site logo
	}

	.header-social-icons {
		text-align: center;
	}
}
