header{
    width:      100%;
    background: $dark-text;
    display:    block;
    color:      #FFF;
    padding:    15px 0;

	.header-logo{
        .update-schedule{
			margin-top:     1em;
            text-align:     center;
            text-transform: uppercase;
        }
    }

	@media (min-width: $width-sm) {
		.header-search {
			margin-top: 1.6%; // Line up with clear space in site logo in desktop mode
		}
	}

	.header-search {
		.search-input-container {
			input {
				font-size: .75em;
			}
		}
	}

	.header-social-icons {
		display: flex;
		justify-content: space-between;
		max-width: 18em; // 1em * 6 icons = 18em. May need to change when the # of icons increases
		margin-left: auto;
		margin-right: .4em;

		a {
			transition: 0.2s linear color;
			padding: 0 1em;
			&.discord:hover{
				color: $discord;
			}
			&.patreon:hover{
				color: $patreon;
			}
			&:hover{
				color: #FFF;
			}
		}
	}
}
