
nav.navbar {
	display:        block;
	width:          100%;
	text-transform: uppercase;
	border-bottom:  1px solid #CCC;
	line-height:    1;
	white-space: 	nowrap;

	.grid {
		height: 100%;

		.main-menu {
			overflow-x: scroll;
		}
	}

	ul {
		padding: 0;
		height:  100%;
		flex-flow: row nowrap;
		display: flex;
		align-items: center;

		> li {
			padding-right: 1em;

			> a {
				color: $sprites-grey;
				position: relative;
				display: block;
				white-space: nowrap;

				&:hover {
					color: $light-blue;
				}

				img {
					display: inline;
					max-height: 25px;
				}
			}
		}
	}
}

.userbar-container {
	transition: 0.3s background ease-in-out;

	ul > li {
		padding-right: 0!important;
		padding-left: 1em;
	}

	&:hover {
		background-color: #ccc;
	}
}

li.mobile-search {
	flex-grow: 1;
}
