.mobile-menu-trigger {
	font-size: 1.5em;
	font-weight: bold;

	i {
		color: #FFF;
	}
}

nav.navbar {
	display:        block;
	width:          100%;
	text-transform: uppercase;
	border-bottom:  2px solid #CCC;
	line-height:    1;
	white-space: 	nowrap;
	background:     #FFF;

	.grid {
		height: 100%;

		.main-menu {
			overflow-x: scroll;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		height:  100%;

		flex-flow: row nowrap;
		display: flex;
		align-items: center;

		> li {
			padding-right: 1.65em;

			> a {
				color: $sprites-grey;

				display: flex;
				flex-flow: row nowrap;
				align-items: center;

				&:hover {
					color: $light-blue;
				}

				span, img {
					display: flex;
					flex-flow: column nowrap;
				}

				img {
					height: 2rem;
					width: auto;
					margin-right: .5rem;

					&.sd-menu-icon {
						max-height: 1rem;
						padding: 0 .5rem;
					}
				}

				span {
					opacity: 0.8;
					transition: color 0.2s ease-in-out;
				}
			}
		}
	}
}

// Add padding to this image to match the clearspace
// in the SD Icon set
.sd-menu-icon {
	max-height: 1rem;
}

// Media-query mobile navbar styles
@media(max-width: $width-md){
	nav.navbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 997;
		transition: 0.5s ease-in-out all;
		background-color: #333;

		.userbar-container span.username {
			color: #FFF;
		}

		&.hidden {
			top: -100%;
		}
	}
	body {
		padding-top: 3em;
	}
}

.userbar-container {
	transition: 0.3s background ease-in-out;

	ul > li {
		padding-right: 0!important;
		padding-left: 1em;
	}
}

li.mobile-search {
	flex-grow: 1;
}

.mobile-drawer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -75vw;
	width: 75vw;
	background: #444;
	transition: 0.3s all ease-in-out;
	z-index: 999;

	overflow-x: hidden;
	overflow-y: scroll;

	&.active {
		left: 0;
	}

	.grid.search {
		.col-12 {
			display: flex;
		}
		.search-input-container input {
			font-size: 1em;
		}
	}

	ul {
		font-size: 1.65em;

		li {
			line-height: 1.15em;
			margin: 1.15em 0;

			a {
				color: #FFF;
			}
		}
	}
}

.mobile-overlay {
	opacity: 0;
	pointer-events: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);

	transition: 0.3s ease-in-out all;

	z-index: 998;

	&.active {
		opacity: 1;
		pointer-events: initial;
	}
}
