$navbar-height: 72px;

nav.navbar {
	display:        block;
	width:          100%;
	text-transform: uppercase;
	height:         $navbar-height;
	min-height:     36px;
	border-bottom:  1px solid #CCC;
	font-size:      18px;
	line-height:    1;

	.grid {
		height: 100%;
	}

	ul {
		padding: 0;
		height:  100%;
		flex-flow: row nowrap;
		display: flex;
		align-items: center;

		> li {
			padding: 0 15px;

			> a {
				color: $sprites-grey;
				position: relative;
				display: block;

				&:hover {
					color: $light-blue;
				}

				img {
					max-height: 25px;
				}
			}
		}
	}
}
