.sidebar {
	justify-content: space-between;
	display: flex!important;
	flex-direction: column;
	height: 100%;

	.text {
		padding-left: 15px;
		padding-right: 15px;
	}
}


img.sidebar-icon {
	display: inline-block;
	max-height: 2.25rem;
	width: auto;
}

@media (max-width: $width-lg) {
	.cta-prefix,
	img.sidebar-icon {
		display: none;
	}
}

.sidebar-posts {
	display: flex;
	flex-direction: column;
	margin: 1.65em auto;

	h2, h3, h4, h5 {
		a {
			color: $sprites-grey;
			span { color: $sprites-grey; }
		}
	}

	// Category title
	h4 {
		margin-bottom: 0;

		span {
			white-space: nowrap;
		}
	}

	h6 {
		margin: 0;
		line-height: 1.65;
	}

	.sidebar-blog-post {
		background: $lighter-grey;
		padding-bottom: 1.5em;
		margin-bottom: 3em;
		flex-direction: column;

		small {
			display: inline-block;
		}
	}

	.byline {
		margin: 0;
	}

	.post-date {
		float: right;
	}

	.thumb {
		height: 0;
		padding-bottom: 66%;
		background: $sprites-grey;
		position: relative;
		margin-bottom: 1.65em;

		img {
			width: 100%;
		}
	}
}
