.sidebar {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	height: 100%;

	.btn {
		margin: 2em 0;
	}
}

.sidebar-icon {
	display: inline-block;
	max-height: 2em;
	width: auto;
	margin-right: .33em;
}

.sidebar-posts {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;

	h2, h3, h4 {
		a {
			color: $sprites-grey;
			span { color: $sprites-grey; }
		}
	}

	// Category title
	h3 {
		margin: 0 0 -.5em;
		span {
			white-space: nowrap;
		}
	}

	h4 {
		margin: 1em 0 0;
	}

	.sidebar-blog-post {
		padding: 0 0 2em;
		margin-top: 0;
		margin-bottom: 0;
		flex-direction: column;

		small {
			display: inline-block;
		}
	}

	.byline {
		margin: 0;
	}

	.post-date {
		float: right;
	}

	.thumb {
		height: 0;
		padding-bottom: 66%;
		background: $sprites-grey;
		position: relative;

		img {
			width: 100%;
		}
	}

	.category-badge {
		background: #00afea;
		color: #FFF;
		padding: .25em .75em;
		text-transform: uppercase;
		letter-spacing: 1px;
		position: absolute;
		display: block;
		bottom: -.5em;
		left: .75em;
		border-radius: $border-radius;
		font-size: .75em;
		pointer-events: none;
	}
}
