.author-bio {
	.avatar-column {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column nowrap;
		img { width: 100%; }
	}
	.user-title {
		font-size: 0.8em;
	}
}

.social-links {
	display: flex;
	flex-flow: row nowrap;
	padding: 0.75em 0;

	a {
		padding: .5em;
		margin: 5px;
		background: #aaa;
		border-radius: 5px;
		display: block;
		line-height: 1;
	}

	i {
		color: #FFF;
	}

	li.twitter a {
		background: $twitter;
	}
	li.email a {
		background: #dd4b39;
	}
	li.website a {
		background: #464646;
	}
}
