.author-bio {
	font-size: 16px;
	.user-title {
		font-size: 0.8em;
	}
}

.user-bio-small {
	.subtitle {
		margin: 0;
	}
}

div.grid.user-grid {
	max-width: 650px;
	margin: auto;
}

.avatar-column {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column nowrap;

	img { width: 100%; }
}

.social-links {
	display: flex;
	flex-flow: row nowrap;
	font-size: 0.8em;

	a {
		padding: .5em;
		margin: 5px;
		background: #aaa;
		border-radius: $border-radius;
		display: block;
		line-height: 1;

		&:nth-child(1){
			margin-left: 0;
		}
	}

	i {
		color: $white;
	}

	li.twitter a { background: $twitter; }
	li.email   a { background: #dd4b39; }
	li.website a { background: #464646; }
}
