@import '../colors.scss';

.blog-folder {
	.folder-icon {
		display: inline-block;
		max-height: 2em;
		width: auto;
		margin-right: .25em;
	}
}

.blog-post-meta {
	display: flex;
	flex-flow: row wrap;

	span {
		margin-right: 1em;
		white-space: nowrap;

		.fa {
			margin-right: .25em;
			color: $light-blue;
		}
	}
}

twitter-widget {
	margin: auto;
}

.blog-page {
	.blog-post-content {
		padding-bottom: 2em;
	}

	/* keep content from being too wide to read comfortably */
	.blog-post-content > .rich-text,
	.tags {
		margin: auto;
		max-width: 650px;
	}

	.blog-post-header {
		margin: 0;

		img {
			width: 100%;
		}

		// When the sidebar is gone, let images bleed to the edges
		@media (max-width: $width-sm){
			margin: 0 -15px;
		}
	}

	.review-block {
		line-height: 1.8;
		padding: 10px 20px;
		margin: 1.5em 0;
		border-left: 5px solid #eee;
		overflow: hidden;

		.box-art {
			display: inline;
			margin-right: 1em;
		}
	}

	// Youtube Embeds
	div.embed {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		margin: 0;
		max-width: unset;

		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.rich-text {
		div.embed {
			margin: 15px 0;
		}
	}


	.social-media{
		margin: 0;
		margin-bottom: 15px;
		display: block;
		overflow: hidden;

		a {
			color: #fff;
		}

		.fa {
			margin:   0 5px;
			background: transparent;
		}

		.fb-like,
		.twitter-follow,
		.patreon-back {
			float:		left;
			display: 	inline-block;
			width:   	33.33%;
			margin:  	0 auto;
			text-align: center;
			font-size:  1.2rem;
			line-height:2.5;
		}

		.fb-like{ background: $facebook; }

		.twitter-follow{ background: $twitter; }

		.patreon-back{ background: $patreon; }
	}
}

.image-block {
	text-align: center;


	img {
		max-height: 75vh; /* dont make em too tall */
		width: auto;
		margin: auto;
		// When the sidebar is visible, give it room to breathe
		@media (min-width: $width-sm) {
			max-width: 95%;
		}
	}
	// When the sidebar is gone, let images bleed to the edges
	@media (max-width: $width-sm){
		margin: 0 -15px;
	}

	.rich-text{
		margin: 1em auto;
		max-width: 500px;
		font-size: 0.8em;
	}
}

.author-bio {

}
