@import '../colors.scss';

.blog-page {
	.blog-post-title {

	}

	.blog-post-subtitle h2{
		font-style: italic;
		color: #777;
	}

	.blog-post-meta {
		display: flex;
		flex-flow: row wrap;

		span {
			margin-right: 1em;
			white-space: nowrap;

			.fa {
				margin-right: .25em;
				color: $light-blue;
			}
		}
	}

	.blog-post-header {
		margin: 0;
	}

	.review-block {
		line-height: 1.8;
		padding: 10px 20px;
		margin: 1.5em 0;
		border-left: 5px solid #eee;
		overflow: hidden;

		.box-art {
			display: inline;
			margin-right: 1em;
		}
	}

	// Youtube Embeds
	.responsive-object {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		margin: 15px 0;

		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	/* Post info begin */
	.social-media{
		margin: 0;
		margin-bottom: 15px;
		display: block;
		overflow: hidden;

		a{
			color:	  #fff;
		}

		.fa{
			margin:   0 5px;
			background: transparent;
		}

		.fb-like,
		.twitter-follow,
		.patreon-back{
			float:		left;
			display: 	inline-block;
			width:   	33.33%;
			margin:  	0 auto;
			text-align: center;
			font-size:  1.2rem;
			line-height:2.5;
		}

		.fb-like{ background: $facebook; }

		.twitter-follow{ background: $twitter; }

		.patreon-back{ background: $patreon; }
	}

}
