@import '../colors.scss';

.home-page{
	.listing-hero {
		.btn{
			display: block;
			max-width: max-content;
			font-size: .8em;
			text-align: center;
			margin-left: auto;
			margin-top: 1.65em;
			margin-bottom: 1.65em;
		}

		.hero-image {
			background: $sprites-grey;
			position: relative;
			height: 0;
			padding-bottom: 42%;
			margin-bottom: 1.65em;

			img {
				width: 100%;
			}
		}

		h2, h3 {
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}

		.blog-post-meta {
			max-width: 650px;
			display: block;
			margin: 0 auto;
		}

		p {
			max-width: 650px;
		}
	}
}


div.blog-post-listing {

	&.grid {
		margin-top:    2em;
		margin-bottom: 2em;
	}

	.blog-post-meta {
		margin-bottom: .75em;
	}

	.listing-image {
		height: auto;

		a {
			display: block;
			position: relative;
		}

		img {
			width: 100%;
			margin: auto;
		}

		.placeholder {
			background: $sprites-grey;
			height: 100%;
			width: 100%;
			min-height: 200px;
		}
	}

	// Show an ellipsis after 3 lines of text
	.listing-description{
		max-height: calc(1.7em * 3);
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		max-width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}
