@import '../colors.scss';

.home-page{}

div.blog-post-listing.grid {
	margin: 0 auto;
	font-size: 16px;

	.blog-post-meta {
		max-width: 650px;
		display: flex;
		flex-direction: column;
		margin-top: .5em;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;

		a {
			color: $secondary-link-color;
		}
	}

	.title, .subtitle {
		line-height: 1.15;
		margin: 0 auto;
		width: 100%;
		max-width: 650px;
	}

	> div {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-content: center;
	}

	&.hero {

		> .col-12 {
			padding: 0;
		}

		.btn{
			display: block;
			max-width: max-content;
			font-size: .8em;
			text-align: center;
			margin-right: auto;
			margin-left: 0;
		}

		.hero-image {
			margin: -15px;
			background: $sprites-grey;
			position: relative;
			height: 0;
			padding-bottom: 44%;
			margin-bottom: 1.65em;

			img {
				box-shadow: inset 0px -10px 25px -5px rgba(39,39,39,1);
				width: 100%;
			}
		}

		.hero{
			.title,.subtitle{
				line-height: 1.15;
			}
		}

		h1, h2, h3, p {
			width: 100%;
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.small{
		max-width: 650px;
		padding: 1.25em 0;
	}

	&.medium {
		padding: 1.65em 0;
		
		.title {
			margin-bottom: .65em;
		}
	}

	&.large{
		padding: 2.5em 0;
		max-width: 750px;

		div.title-col {
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	&.hero {
		.title, .subtitle {
			line-height: 1.65;
		}
	}

	.listing-image {
		height: auto;

		a {
			display: block;
			position: relative;
		}

		img {
			width: 100%;
			margin: auto;
		}

		.placeholder {
			background: $sprites-grey;
			height: 100%;
			width: 100%;
			min-height: 200px;
		}
	}

	// Show an ellipsis after 3 lines of text
	.listing-description{
		max-height: calc(1.7em * 3);
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		max-width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		max-width: 85%;
	}
}
