@import '../colors.scss';

.home-page{
	.listing-hero {

		h2 a {
			color: $sprites-grey;
		}

		.btn{
			display: flex;
			max-width: max-content;
			font-size: .8em;
			text-align: center;
			margin: 1em 0 1em auto;
			flex-direction: row;
			align-items: center;
		}

		.hero-image {
			background: $sprites-grey;
			position: relative;
			height: 0;
			padding-bottom: 42%;

			img {
				width: 100%;
			}
		}
	}
}


div.blog-post-listing {

	&.grid {
		margin-top:    2em;
		margin-bottom: 2em;
	}

	h3 {
		margin: 0 0 .75em;
		line-height: 1.25;
		a {
			color: $dark-text;
		}
	}

	.blog-post-meta {
		margin-bottom: .75em;
	}

	.listing-image {
		height: auto;

		a {
			display: block;
			position: relative;
		}

		img {
			width: 100%;
			margin: auto;
		}

		.placeholder {
			background: $sprites-grey;
			height: 100%;
			width: 100%;
			min-height: 200px;
		}
	}

	// Show an ellipsis after 3 lines of text
	.listing-description{
		max-height: calc(1.7em * 3);
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		max-width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}
