@import '../fonts.scss';
@import '../variables.scss';
@import '../colors.scss';
@import '../icons.scss';

@import './author.scss';
@import './typography.scss';
@import './search.scss';
@import './podcast.scss';
@import './blog-page.scss';
@import './home-page.scss';
@import './password-required.scss';

@import './navigation/header.scss';
@import './navigation/navbar.scss';
@import './navigation/sidebar.scss';
@import './navigation/footer.scss';

html, body {
	overflow-x: hidden;
}

body{
    margin:         0;
    width:          100%;
    min-height:     100vh;
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
	background:     #F9F9F9;
	max-width:      100%;
	overflow-x:     hidden;
}

main{
	flex-grow: 1;
}

header,
footer{
	flex-shrink: 0;
}

pre {
	border: 1px solid #AAA;
}

a{
    text-decoration: none;
    color: $primary-link-color;
}

ul {
	list-style-type:  none;
	padding: 0;
	margin: 0;
}

img{
    max-width: 100%;
    height:    auto;
    vertical-align: middle;

	&.pixel-art {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -webkit-crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: pixelated;
	}
}

hr {
	border-top: 3px solid $light-grey;
	border-bottom: none;
	margin: 1.15em auto;
	display: block;
	width: 95%;
}

input {
	background: $lighter-grey;
	color: $sprites-grey;
	border: none;
	padding: 5px 10px;
	border-radius: $border-radius;

	&.button {
		background: $primary-link-color;
		color: #FFF;
	}
}

video {
	max-width: 100%;
}

.btn {
	border-radius: $border-radius;

	background: $primary-link-color;
	color: $white;
	padding: .25rem .5rem;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	font-size: .8em;

	i:before {
		margin: 0 .5em;
	}
	&.discord {
		background: $discord;
	}
	&.patreon {
		background: $patreon;
	}
	&.secondary {
		background: $secondary-link-color;
	}
}

.tag {
	padding: .2em .6em .2em .8em;
	margin: 0 .25em .5em;
	border-radius: $border-radius;
	display: inline-block;
	background: $primary-link-color;
	color: $white;

	&:nth-child(odd){
		background: $secondary-link-color;
	}
}

.category-badge {
	background: $primary-link-color;
	font-family: 'Jaapokki';
	color: $white;
	padding: .4rem .8rem;
	letter-spacing: 1px;
	position: absolute;
	display: block;
	right: 1rem;
	bottom: -1rem;
	border-radius: $border-radius;
	pointer-events: none;
	box-shadow: 2px 2px 6px -3px #333;
}

.grid{
    width:     100%;
    margin:    0 auto;
    max-width: 1200px;
}

.pagination.grid {
	padding: 2em 0;

	.page-numbers {
		flex-flow: row nowrap;
		text-align: center;

		& > *:not(.current) {
			padding: .25rem .8rem;
		}

		.current {
			background:    $primary-link-color;
			color:         $white;
			border-radius: 50%;
			display:       inline-block;
			width:         2rem;
			height:        2rem;
			padding:       .25rem;
			margin:        0 .8rem;
		}
	}

	.btn {
		width: 100%;
		height: min-content;
	}

	[class*="col-"] {
		display: flex;
		justify-content: center;
	}
}

[class*="col-"] .grid {
	width: auto;
}

.no-padding {
	padding: 0;
}

main{
    display: flex;

    > .grid{

    }
}

header .social-icons {
	flex-wrap: nowrap;
	margin-left: auto;
	justify-content: flex-end;
	a {
		padding-right: 0;
	}
}

footer .social-icons {
	justify-content: flex-end;

	a {
		padding-right: 0;
	}
}

.mobile-drawer {
	.social-icons {
		font-size: 1.5em;
		flex-wrap: wrap;
		justify-content: flex-start;

		a {
			padding-left: 0;
		}
	}
}

.social-icons {
	display: flex!important;
	margin-right: .4em;
	flex-flow: row wrap;

	a {
		transition: 0.2s linear color;
		padding:    0 1.5em .5em;
		color: #F9f9f9;

		&.discord:hover{
			color: $discord;
		}
		&.patreon:hover{
			color: $patreon;
		}
	}
}
