@import '../fonts.scss';
@import '../colors.scss';
@import '../icons.scss';

@import './typography.scss';
@import './podcast.scss';
@import './blog-page.scss';
@import './home-page.scss';

@import './navigation/header.scss';
@import './navigation/navbar.scss';
@import './navigation/sidebar.scss';
@import './navigation/footer.scss';

body{
    margin:         0;
    width:          100%;
    min-height:     100vh;
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
	background:     #F9F9F9;
	max-width:      100%;
}

main{
	flex-grow: 1;
}

header,
footer{
	flex-shrink: 0;
}

pre {
	border: 1px solid #AAA;
}

a{
    text-decoration: none;
    color: $link-color;
}

ul{
    padding: 0;
    margin:  0;
    list-style-type: none;
}

img{
    max-width: 100%;
    height:    auto;
    vertical-align: middle;
}

.btn {
	background: $link-color;
	color: #FFF;
	padding: 1em;
	border-radius: 5px;
	white-space: nowrap;
	display: inline-block;
}

.grid{
    width:     100%;
    margin:    0 auto;
    max-width: 1025px;
}

[class*="col-"] .grid {
	width: auto;
}

.no-padding {
	padding: 0;
}

main{
    display: flex;

    > .grid{

    }
}
