@import '../fonts.scss';
@import '../colors.scss';
@import '../icons.scss';

@import './author.scss';
@import './typography.scss';
@import './search.scss';
@import './podcast.scss';
@import './blog-page.scss';
@import './home-page.scss';
@import './password-required.scss';

@import './navigation/header.scss';
@import './navigation/navbar.scss';
@import './navigation/sidebar.scss';
@import './navigation/footer.scss';

body{
    margin:         0;
    width:          100%;
    min-height:     100vh;
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
	background:     #F9F9F9;
	max-width:      100%;
}

main{
	flex-grow: 1;
}

header,
footer{
	flex-shrink: 0;
}

pre {
	border: 1px solid #AAA;
}

a{
    text-decoration: none;
    color: $link-color;
}

ul{
    padding: 0;
    margin:  0;
    list-style-type: none;
}

img{
    max-width: 100%;
    height:    auto;
    vertical-align: middle;

	&.pixel-art {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -webkit-crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: pixelated;
	}
}

hr {
	border-top: 3px solid #bdbdbd;
	border-bottom: none;
	margin: 1em 0;
}

input {
	background: #eee;
	color: #000;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;

	&.button {
		background: $link-color;
		color: #FFF;
	}
}

video {
	max-width: 100%;
}

.btn {
	background: $link-color;
	color: #FFF;
	padding: .5em 1em;
	border-radius: 5px;
	white-space: nowrap;
	display: inline-block;
	text-align:center;

	i:before {
		margin: 0 .5em;
	}
	&.discord {
		background: $discord;
	}
	&.patreon {
		background: $patreon;
	}
}

.tag {
	padding: .2em .6em .2em .8em;
	margin: 0 .25em .25em;
	border-radius: 5px;
	display: inline-block;
	font-size: .75em;
	background: $link-color;
	color: #FFF;
}

.grid{
    width:     100%;
    margin:    0 auto;
    max-width: 1200px;
}

.pagination.grid {
	padding: 2em 0;

	.page-numbers {
		flex-flow: row nowrap;
		text-align: center;

		& > * {
			padding: 0 .5em;
		}
	}
	.btn {
		width: 100%;
	}
	[class*="col-"] {
		display: flex;
		justify-content: center;
	}
}

[class*="col-"] .grid {
	width: auto;
}

.no-padding {
	padding: 0;
}

main{
    display: flex;

    > .grid{

    }
}
