.search-results-page {

	.search-page-header {
		align-items: center;

		.search-form{
			.search-input-container {
				justify-content: flex-end;

				input {
					font-size: 1em;
				}
			}
		}
	}
}

.header-search {

}

.search-input-container{
	display: flex;
	flex-direction: row;

	input {
		background: #eee;
		color: #000;
		border: none;
		padding: .5em .75em;

		flex-grow: 1;

		border-top-left-radius:     2px;
		border-bottom-left-radius:  2px;
		border-top-right-radius:    0px;
		border-bottom-right-radius: 0px;
	}

	button {
		border-top-left-radius:     0px;
		border-bottom-left-radius:  0px;
		border-top-right-radius:    2px;
		border-bottom-right-radius: 2px;

		padding: 0;
		margin: 0;
		border: none;
		margin: 0;

		i {
			background: $light-blue;
			padding: .25em;
			border-radius: 2px;
			font-size: 1.5em;
			text-align: center;
			color: #FFF;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}
}
