.search-input-container{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
	overflow: hidden;
	font-size: 1rem;

	input, button {
		display: flex;
		flex-direction: column;
	}

	input {
		background: $lighter-grey;
		color: $sprites-grey;
		border: none;
		padding: .5em .75em;

		border-top-left-radius:     $border-radius;
		border-bottom-left-radius:  $border-radius;
		border-top-right-radius:    0px;
		border-bottom-right-radius: 0px;

		width: calc(100% - 3.5em);
	}

	button {
		border-top-left-radius:     0px;
		border-bottom-left-radius:  0px;
		border-top-right-radius:    $border-radius;
		border-bottom-right-radius: $border-radius;

		padding: 0;
		margin: 0;
		border: none;

		align-items: center; // Vertical Align Icon
		font-size: 1em;
		padding: .5em;
		color: #FFF;
	}
}

// Search Results Page Only
.search-results-page {

	.search-page-header {
		align-items: center;

		.search-form {
			.search-input-container {
				justify-content: flex-end;

				input {
					font-size: 1em;
				}
			}
		}
	}
}
