.search-results-page {

	.search-page-header {
		align-items: center;

		.search-form{
			.search-input-container {
				justify-content: flex-end;

				input {
					font-size: 1em;
				}
			}
		}
	}
}

.header-search {

}

.search-input-container{
	display: flex;
	flex-direction: row;

	input {
		background: #eee;
		color: #000;
		border: none;
		padding: 5px 10px;
		border-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		line-height: 24px;
		height: 24px;
		margin: 0;
		flex-grow: 1;
	}

	button {
		padding: 0;
		margin: 0;
		border: none;
		border-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0;

		i {
			background: $light-blue;
			padding: 4px;
			border-radius: 2px;
			width: 24px;
			height: 24px;
			font-size: 16px;
			text-align: center;
			color: #FFF;
			border: 1px solid transparent;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}
}
