body{
	color: #2e2e2e;
	font-family: 'Roboto',Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.7;

	@media (max-width: 992px) {} // MD
	@media (max-width: 768px) { font-size: 16px; } // SM
	@media (max-width: 576px) { font-size: 14px; } // XS
}

header{
    .header-logo .update-schedule{
        font-family: 'Jaapokki';
    }
}

nav{
    font-family: 'Jaapokki','Roboto',Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Jaapokki", "Roboto Slab";
	color: $sprites-grey;
	a {
		color: $sprites-grey;
	}
}

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .75em;
}

h1 {
	font-size: 2.5em;
	line-height: 1.5;
}

h2 {
	font-size: 1.75em;
	line-height: 1.2;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

.subtitle{
	font-style: italic;
	color: #777;

	a {
		color: #777;
	}
}

p {
	margin: 1.7rem auto;
	line-height: 2;

	&:empty {
		margin: 0;
	}
}

blockquote {
	font-size: 1.25em;
	margin: 1.5em auto;
	padding: 1em 1.5em;
	border-left: 1px solid #aaa;
	opacity: .75;
}

.richtext-image {
	height: auto;

	&.full-width {
		width: 100%;
	}

	&.left {
		max-width: 50%;
		float: left;
		padding-right: 1.5em;
	}

	&.right{
		max-width: 50%;
		float: right;
		padding-left: 1.5em;
	}
}

i.endmark {
	content: "";
	margin-left: 5px;
	margin-bottom: -1px;
	height: 15px;
	width: 16px;
	background-size: 100%;
	background-image: url('/static/img/snd_end_mark.png');
	display: inline-block;
}
