{% load static wagtailimages_tags customuser_tags menu_tags %}

<div class="listing-hero grid">
	<div class="col-12">
		<div class="hero-image">
			<a href={{page.url}} title={{page.title}}>
			{% image page.header_image fill-700x300 %}
			</a>
		</div>
		<h2><a href="{{page.url}}">{{page.title}}</a></h2>
		{% if page.subtitle%}
			<h3 class="subtitle"><a href="{{page.url}}">{{page.subtitle}}</a></h3>
		{% endif %}
		{% include "blog/meta_tags.html" %}
		<p>
			{{page.get_content_preview}}
			<a href="{{page.url}}" class="btn">Read More <i class="fa fa-angle-double-right"></i></a>
		</p>
		<hr>
	</div>
</div>
