{% load static wagtailimages_tags customuser_tags menu_tags %}

<div class="blog-post-listing hero grid">
	<div class="col-12">
		<a href={{page.url}} title={{page.title}}>
			<div class="hero-image">
				<picture>
					{% image page.header_image fill-1400x600 format-webp as webp_thumb %}
					<source srcset="{{ webp_thumb.url }}" media="(min-width: 0px)">
					{% image page.header_image fill-1400x600 format-jpeg %}
				</picture>
				{% if page.category.title != "Blog Posts" %}
					<label class="category-badge">
						{{page.category.title|unpluralize_category}}
					</label>
				{% endif %}
			</div>
		</a>
		<h1 class="title"><a href="{{page.url}}">{{page.title}}</a></h1>
		{% if page.subtitle%}
			<h3 class="subtitle"><a href="{{page.url}}">{{page.subtitle}}</a></h3>
		{% endif %}
		{% include "blog/meta_tags.html" %}
		<p>
			{{page.get_content_preview}}
			<br><br>
			<a href="{{page.url}}" class="btn">Read More <i class="fa fa-angle-double-right"></i></a>
		</p>
		<hr>
	</div>
</div>
