{% extends "page/base_page.html" %}
{% load static wagtailimages_tags customuser_tags menu_tags %}

{% block body_class %}home-page{% endblock %}


{% block before_page_feed %}
	{% blog_posts as pages %}
	{% for page in pages %}
		{% if forloop.first %}{# null #}{% include "home/hero_page_listing.html" %}{% else %}{% endif %}
	{% endfor %}
{% endblock %}

{% block page_feed %}
	{% blog_posts as pages %}
	{% for page in pages %}
		{% if forloop.first %}{# null #}{% else %}{% include "blog/feed_item.html" %}{% endif %}
	{% endfor %}
{% endblock %}
