# System Files
*.DS_Store

# Database
db.sqlite3

# Config Files
config.py
analytics-config.json

# Logs
debug.log

# Pycache Files
*.pyc
*/**/*.pyc
page/migrations/*.pyc

# NPM
node_modules/
package-lock.json

# Compiled Output and temp files
build/
tmp/
bakery/

# UWSGI Socket Files
*.sock

# Media is on S3, and needed Static files are collected and placed in /amazonbrandportal/static
media/
/static/
