/**
 *  Try to manage assigning font-families and font-sizes here, it will make scaling text responsively less of a headache
 */
@font-face {
  font-family: 'Roboto Slab';
  src: url("https://fonts.googleapis.com/css?family=Roboto+Slab");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("https://fonts.googleapis.com/css?family=Roboto");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Jaapokki';
  src: url("../fonts/jaapokki-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body.login .wrapper {
  width: 450px;
  max-width: 100%;
  margin: 0 auto; }

body.login img.login-img {
  display: block;
  margin: 10px auto;
  max-width: 90%; }

body.login h1 {
  font-size: 3em;
  text-align: center; }

body.login .full .iconfield .input:before {
  left: 1em; }

body.login .fields li.full {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 0;
  max-width: 100%;
  overflow: hidden; }
  body.login .fields li.full input {
    padding-left: 4em; }
  body.login .fields li.full:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  body.login .fields li.full:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

body.login .submit button {
  width: 100%; }

.podcast-results-title {
  position: absolute;
  top: 30px;
  right: 50px; }

.podcast-actions {
  float: right;
  margin-top: -70px; }

#podcast-search.search-form {
  right: 50px;
  top: 30px;
  position: absolute;
  border: 1px solid  #e6e6e6;
  border-radius: 500px;
  overflow: hidden;
  z-index: 1; }
  #podcast-search.search-form label {
    display: none; }
  #podcast-search.search-form li {
    padding: 0; }
  #podcast-search.search-form .field-content {
    width: 100%; }
  #podcast-search.search-form input {
    border: transparent; }
  #podcast-search.search-form .error-message {
    display: none; }
  #podcast-search.search-form .error input {
    background: #fafafa; }

#podcast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0;
  position: relative; }
  #podcast #album-art {
    max-width: 200px; }
    #podcast #album-art img {
      border-radius: 3px; }
  #podcast #metadata {
    max-width: 60%;
    padding: 15px 30px; }
    #podcast #metadata h1 {
      text-transform: capitalize; }
    #podcast #metadata .episode-count {
      opacity: .8; }
    #podcast #metadata > * {
      margin-top: 0; }

table.listing#podcast-table {
  table-layout: fixed;
  width: 100%; }
  table.listing#podcast-table .title-wrapper {
    font-weight: 500; }
  table.listing#podcast-table a:not(:hover) {
    background: transparent; }
  table.listing#podcast-table a {
    transition: 0.3s ease-in-out all; }
  table.listing#podcast-table th, table.listing#podcast-table td {
    padding: .6em .8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    table.listing#podcast-table th.select, table.listing#podcast-table td.select {
      width: 20px; }
    table.listing#podcast-table th.episode, table.listing#podcast-table td.episode {
      width: 15px; }
    table.listing#podcast-table th.title, table.listing#podcast-table td.title {
      width: 100px; }
    table.listing#podcast-table th.description, table.listing#podcast-table td.description {
      width: 100px; }
    table.listing#podcast-table th.length, table.listing#podcast-table td.length {
      width: 60px; }
    table.listing#podcast-table th.date, table.listing#podcast-table td.date {
      width: 60px; }
    table.listing#podcast-table th.actions-cell, table.listing#podcast-table td.actions-cell {
      width: 100px; }
      table.listing#podcast-table th.actions-cell ul.actions, table.listing#podcast-table td.actions-cell ul.actions {
        display: table-cell; }
        table.listing#podcast-table th.actions-cell ul.actions > li, table.listing#podcast-table td.actions-cell ul.actions > li {
          float: right;
          margin: 0; }
  table.listing#podcast-table tbody {
    border: none; }
    table.listing#podcast-table tbody tr {
      border: none;
      transition: 0.1s ease-in-out all; }
      table.listing#podcast-table tbody tr:nth-child(odd):not(.selected):not(:hover) {
        background-color: #f8f8f8; }
      table.listing#podcast-table tbody tr td.actions-cell .actions {
        visibility: visible; }

header,
.tab-nav,
.tab-nav.merged {
  background-color: #444; }

ul.breadcrumb {
  background: #444; }
  ul.breadcrumb li a:after, ul.breadcrumb li span:after {
    color: #00acdb; }
  ul.breadcrumb li:hover {
    background: #00acdb; }
    ul.breadcrumb li:hover a:after, ul.breadcrumb li:hover span:after {
      color: #FFF; }

ul.tab-nav a {
  background-color: #0098b7;
  border-top-color: #0098b7; }
  ul.tab-nav a:hover {
    border-top-color: #00667f; }

.summary ul.stats li {
  width: 25% !important; }

.page-explorer .listing .index {
  background: #444; }
  .page-explorer .listing .index .button.bicolor, .page-explorer .listing .index .c-dropdown__button.bicolor {
    background: #0098b7; }
  .page-explorer .listing .index .button:hover, .page-explorer .listing .index .c-dropdown__button:hover {
    background: #008da9;
    border-color: #008da9;
    color: #FFF; }

.nav-wrapper .nav-search input {
  border-radius: 500px; }

.nav-wrapper .nav-search button.button {
  background-color: transparent !important;
  border: none !important;
  border-radius: 50%; }

.nav-wrapper .nav-main .menu-active > a {
  border-left-color: #00acdb; }

.progress {
  background-color: #00667f;
  border-color: #0098b7; }
  .progress .bar {
    background-color: #0098b7; }

a {
  color: #008da9; }
  a:hover {
    color: #00acdb; }

a.status-tag.primary:hover,
a.status-tag:hover {
  border-color: #00acdb;
  color: #00acdb; }

button.status-tag:hover {
  background: #00acdb;
  color: #FFF; }

.loading-mask.loading:after,
input[type=radio]:checked:before,
input[type=checkbox]:checked:before {
  color: #00acdb; }

.dropdown ul {
  background-color: #00acdb; }
  .dropdown ul a:hover {
    background-color: #00667f; }

.dropdown .dropdown-toggle {
  background-color: #008da9; }
  .dropdown .dropdown-toggle:hover {
    background-color: #00667f; }

.button {
  text-transform: capitalize; }

.button:not(.button-secondary):not(.disabled):not(.yes):not(.no):not(.serious):not(.action-preview):not([class*='action-add-block']) {
  background-color: #0098b7;
  border: 1px solid #0098b7; }

.button-secondary {
  color: #00acdb;
  border: 1px solid #0098b7; }
  .button-secondary:hover {
    background: #00acdb; }

.stream-menu.stream-menu-closed:hover a.toggle,
.stream-menu.stream-menu-closed a.toggle:focus {
  color: #00acdb; }

.stream-menu button.button:focus, .stream-menu button.button:hover {
  background-color: #00acdb; }

.tag {
  background: #00acdb; }

.halloeditor:focus, .tagit:focus, input:focus, select:focus, textarea:focus {
  border-color: #00acdb;
  background-color: #f5fdff; }
