{% load static %}

<header class="hidden-xxs hidden-xs hidden-sm">
	<div class="grid">

		<div class="header-logo col-7">
			<a href="/" style="display:block; text-align:center;">
				<img src="{% static 'img/logo-white.png' %}"/>
			</a>
			<div class="update-schedule">
				{{settings.spritesanddice.HeaderSettings.update_schedule}}
			</div>
		</div>

		<div class="col-auto">
			<div class="grid">
				<div class="header-social-icons col-auto" style="padding-right:0;">
					<ul>
						<li><a><i class="fa fa-rss"></i></a></li>
						<li><a><i class="fa fa-envelope"></i></a></li>
						<li><a><i class="fab fa-facebook"></i></a></li>
						<li><a><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="header-search col-6" style="padding-left:0;">
					{% include "search/search_form.html" %}
				</div>
				<!-- <div class="col-12 userbar">
				</div> -->
			</div>
		</div>

	</div>
</header>
