{% load static %}

<header>
	<div class="grid">

		<div class="header-logo col-7">
			<a href="/" style="display:block; text-align:center;">
				<img src="{% static 'img/logo-white.png' %}"/>
			</a>
			<div class="update-schedule">
				{{settings.spritesanddice.HeaderSettings.update_schedule}}
			</div>
		</div>

		<div class="col-auto">
			<div class="grid">
				<div class="header-social-icons col-auto" style="padding-right:0;">
					<ul>
						<li><a><i class="fa fa-rss"></i></a></li>
						<li><a><i class="fa fa-envelope"></i></a></li>
						<li><a><i class="fa fa-plus"></i></a></li>
						<li><a><i class="fab fa-facebook"></i></a></li>
						<li><a><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="header-search col-5" style="padding-left:0;">
					<form class="search-input-container" action="{% url 'search' %}" method="get">
						<input
						type="text"
						name="query"
						placeholder="Search"
						{% if path == '/search/' %}value="{{query}}"{% endif %}
						tabindex="1">
						<button class="search-button" type="button" name="button">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
				<div class="col-12 userbar">
						<!-- Userbar goes here -->
				</div>
			</div>
		</div>

	</div>
</header>
