{% load static %}

<header class="hidden-xxs hidden-xs hidden-sm">
	<div class="grid">

		<div class="header-logo col-7">
			<a href="/" style="display:block; text-align:center;">
				<img src="{% static 'img/logo-white.png' %}"/>
			</a>
			<div class="update-schedule">
				{{settings.spritesanddice.HeaderSettings.update_schedule}}
			</div>
		</div>

		<div class="col-auto">
			<div class="header-search grid">
				<div class="col-12">
					{% include "search/search_form.html" %}
				</div>
			</div>
			<div class="header-social-icons grid">
				<div class="col-auto">
					<a title="Sprites and Dice RSS Feed" href="/rss.xml"><i class="fa fa-rss"></i></a>
				</div>
				<div class="col-auto">
					<a title="Email Sprites and Dice" href="mailto:contact@spritesanddice.com"><i class="fa fa-envelope"></i></a>
				</div>
				<div class="col-auto">
					<a title="Sprites and Dice Twitter" href="https://twitter.com/spritesndice"><i class="fab fa-twitter"></i></a>
				</div>
				<div class="col-auto">
					<a title="Sprites and Dice on Facebook" href="https://www.facebook.com/SpritesAndDice/"><i class="fab fa-facebook"></i></a>
				</div>
				<div class="col-auto">
					<a title="Sprites and Dice Discord Server" href="https://discord.gg/hcBwvjE"><i class="fab fa-discord"></i></a>
				</div>
			</div>
		</div>

	</div>
</header>
