{% load static wagtailimages_tags menu_tags %}

<nav class="mobile-drawer">
	<div class="grid search">
		<div class="col-12">
			{% include "search/search_form.html" %}
		</div>
	</div>
	<div class="grid links">
		<div class="col-12">
			<ul>
				{% main_menu as pages %}
					{% for page in pages %}
					<li>
						<a href="{{page.url}}" title={{page.title}}>
							{% if page.icon %}
								{% image page.icon height-100 %}
							{% else %}
								<img class="sd-menu-icon" src="{% static 'img/sd-logo-white.png' %}" alt="Sprites and Dice">
							{% endif %}
							<span>
								{{page.title}}
							</span>
						</a>
					</li>
				{% endfor %}
				{% include "navigation/mobile_social_links.html" %}
			</ul>
	</div>
</nav>
<div class="mobile-overlay"></div>
