{% load static wagtailimages_tags menu_tags %}
<nav class="navbar">
	<div class="grid">
		<!-- Mobile Nav -->
		<ul class="mobile-menu col-8 hidden-md hidden-lg hidden-xlg">
			<li>
				<a>
					<i class="fas fa-bars"></i>
				</a>
			</li>
			<li class="nav-logo">
				<a href="/"><img src="{% static 'img/logo-mobile-nav.png' %}"/></a>
			</li>
		</ul>

		<ul class="desktop-menu col-8 hidden-xxs hidden-xs hidden-sm">
			<li class="nav-logo">
				<a href="/"><img src="{% static 'img/sd-logo-black.png' %}"/></a>
			</li>
			{% main_menu as pages %}
			{% for page in pages %}
				<li>
					<a href="{{page.url}}" title={{page.title}}>
						{{page.title}}
					</a>
				</li>
			{% endfor %}
		</ul>

		<ul class="col-auto">
			{# Userbar goes here #}
		</ul>
	</div>
</nav>
