{% load static wagtailimages_tags menu_tags %}
<nav class="navbar">
	<div class="grid">
		<div class="col-12 col-xs-auto hidden-xxs hidden-xs hidden-sm main-menu desktop-menu">
			<ul>
				{% main_menu as pages %}
				{% for page in pages %}
				<li>
					<a href="{{page.url}}" title={{page.title}}>
						{% if page.icon %}
							{% image page.icon height-100 %}
						{% else %}
							<img class="sd-menu-icon" src="{% static 'img/sd-logo-black.png' %}" alt="Sprites and Dice">
						{% endif %}
						<span>
							{{page.title}}
						</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-auto hidden-md hidden-lg hidden-xlg mobile-menu">
			<ul>
				<li>
					<a href="#" class="mobile-menu-trigger">
						<i class="fa fa-bars"></i>
					</a>
				</li>
				<li>
					<a href="/" title="Home">
						<img src="{% static 'img/logo-white.png' %}" alt="Sprites and Dice">
					</a>
				</li>
			</ul>
		</div>

		<div class="col-3 userbar-container">
			<ul>
				{# Userbar goes here #}
			</ul>
		</div>
	</div>
</nav>

{% include "navigation/mobile_menu.html" %}
