{% load menu_tags %}
{% if pages.paginator.num_pages > 1%}
<div class="pagination grid">
	<div class="col-6 order-2 col-sm-2 order-sm-1">
		{% if pages.has_previous %}
			<a
				class="btn"
				href="{{request.path}}?page={{pages.previous_page_number}}{% if search_query %}&query={{ search_query|urlencode }}{% endif %}">
				<i class="fa fa-angle-double-left"></i> Previous
			</a>
		{% endif %}
	</div>
	<div class="col-12 col-sm-auto order-3 order-sm-1">
		<div class="page-numbers">
			{% for i in pages.paginator.num_pages|loop_int %}
				{% if i == pages.number|add:"0" %}
					<b>{{i}}</b>
				{% elif i <= pages.number|add:"3" and i >= pages.number|add:"-3"  or i == pages.paginator.num_pages or i == 1 %}
					<a title="Page {{i}}" href="{{request.path}}?page={{i}}{% if search_query %}&query={{search_query|urlencode}}{% endif %}">{{i}}</a>
				{% elif i == pages.number|add:"5" or i == pages.number|add:"-4" %}
					<span>...</span>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="col-6 order-2 col-sm-2 order-sm-3">
		{% if pages.has_next %}
			<a
				class="btn"
				href="{{request.path}}?page={{pages.next_page_number}}{% if search_query %}&query={{ search_query|urlencode }}{% endif %}">
				Next <i class="fa fa-angle-double-right"></i>
			</a>
		{% endif %}
	</div>
</div>
{% endif %}
