{% load wagtailimages_tags%}

{% for folder in folders %}
	<div class="sidebar-posts">
		<h4>
			<a href={{folder.url}} title={{folder.title}}>
				{% image folder.icon original alt=folder.title class="sidebar-icon" %}
				<span>{{folder.title}}</span>
			</a>
		</h4>

		{% for post in folder.children %}
			<div class="sidebar-blog-post grid">
				<a href="{{post.url}}" title="{{post.title}}">
					<div class="col-4">
						{% if post.header_image %}
							{% image post.header_image fill-120x120 %}
						{% else %}
							<div class="placeholder"></div>
						{% endif %}
					</div>
					<div class="col-8">
						<div class="title">
							{{post.title}}
						</div>
					</div>
				</a>
			</div>
		{% endfor %}

	</div>
{% endfor %}
