{% load wagtailimages_tags%}

{% for category in categories %}
	{% if category.children|length > 0 %}
		<div class="sidebar-posts">
			<h4>
				<a href={{category.url}} title={{category.title}}>
					{% image category.icon original alt=category.title class="sidebar-icon" %}
					<span>{{category.title}}</span>
				</a>
			</h4>

			<hr>

			{% for post in category.children %}
				<div class="sidebar-blog-post grid">
					<a href="{{post.url}}" title="{{post.title}}">
						<div class="col-4">
							{% if post.header_image %}
								{% image post.header_image fill-120x120 %}
							{% else %}
								<div class="placeholder"></div>
							{% endif %}
						</div>
						<div class="col-8">
							<div class="title">
								{{post.title}}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}
