<div class="sidebar">
	<h4>Sidebar</h4>
	{% for blog_post in blog_posts %}
		{{blog_post}}<br>
	{% endfor %}
	<br>
	<p>A voluptatem fuga eos dolor corrupti. Saepe est quis tempora nihil. Beatae tenetur libero dolores provident et reiciendis. Aut sunt atque facere corporis cupiditate.</p>
	<p>A voluptatem fuga eos dolor corrupti. Saepe est quis tempora nihil. Beatae tenetur libero dolores provident et reiciendis. Aut sunt atque facere corporis cupiditate.</p>
	<p>A voluptatem fuga eos dolor corrupti. Saepe est quis tempora nihil. Beatae tenetur libero dolores provident et reiciendis. Aut sunt atque facere corporis cupiditate.</p>
	<p>A voluptatem fuga eos dolor corrupti. Saepe est quis tempora nihil. Beatae tenetur libero dolores provident et reiciendis. Aut sunt atque facere corporis cupiditate.</p>
</div>
