<!-- <div class="social-media">
	<a
		target="_blank"
		href="https://www.facebook.com/sharer/sharer.php?u=<?php print $base_root.request_uri(); ?>"
		data-toggle="tooltip"
		data-placement="bottom"
		data-original-title="facebook"
		class="fb-like">
		<i class="fab fa-facebook"></i> Share
	</a>
	<a
		target="_blank"
		href="https://twitter.com/intent/tweet?source=webclient&amp;text=<?php print $base_root.request_uri(); ?>"
		data-toggle="tooltip"
		data-placement="bottom"
		data-original-title="twitter"
		class="twitter-follow">
		<i class="fab fa-twitter"></i> Tweet
	</a>
	<a
		target="_blank"
		href="https://www.patreon.com/spritesanddice"
		class="patreon-back">
		<i class="fab fa-patreon"></i> Support Us
	</a>
</div> -->
