<a title="Sprites and Dice Patreon"        href="https://patreon.com/spritesanddice/" class="patreon"><i class="fab fa-patreon"></i></a>
<a title="Sprites and Dice Discord Server" href="https://discord.gg/hcBwvjE" class="discord"><i class="fab fa-discord"></i></a>
<a title="Sprites and Dice Twitter"        href="https://twitter.com/spritesndice"><i class="fab fa-twitter"></i></a>
<a title="Sprites and Dice on Facebook"    href="https://www.facebook.com/SpritesAndDice/"><i class="fab fa-facebook"></i></a>
<a title="Email Sprites and Dice"          href="mailto:contact@spritesanddice.com"><i class="fa fa-envelope"></i></a>
