{% extends "base.html" %}
{% load static wagtailimages_tags menu_tags customuser_tags %}

{% block body_class %}home-page{% endblock %}

{% block og_description   %}{{page.subtitle}}{% endblock %}
{% block meta_description %}{{page.subtitle}}{% endblock %}

{% if page.header_image %}
	{% block og_image %}{{request.site.hostname}}{{page.header_image.file.url}}{% endblock %}
{% endif %}

{% block content %}
	<div class="grid">
		<div class="col-12 col-sm-9">
			{% block before_page_feed %}{% endblock %}
			{% block page_feed %}{% endblock %}
			{% block after_page_feed %}{% endblock %}
		</div>

		<div class="col-sm-3 hidden-xs hidden-xxs">
			{% include 'navigation/sidebar.html' %}
		</div>

	</div>
{% endblock content %}
