{% extends "page/base_page.html" %}
{% load static wagtailimages_tags customuser_tags menu_tags %}

{% block body_class %}blog-folder{% endblock %}

{% block before_page_feed %}
	<h1>
		{% image page.icon original alt="page.title" class="folder-icon" %}
		<span>{{page.title}}</span>
	</h1>
	<hr>
{% endblock %}

{% block page_feed %}
	{% blog_posts blog_folder=self as pages %}
	{% for page in pages %}
		{% include "blog/feed_item.html" %}
	{% endfor %}
	<hr>
	{% include "navigation/pagination.html" %}
{% endblock %}
