{% extends "base.html" %}
{% load wagtailembeds_tags wagtailcore_tags wagtailimages_tags menu_tags customuser_tags %}

{% block body_class %}blog-page{% endblock %}

{# Meta Tags #}
{% block og_image %}{{page.header_image.file.url}}{% endblock %}

{% block content %}
	<div class="grid">
		<div class="col-12" style="padding-bottom:0;">
			<h1 class="title">{{page.header_title}}</h1>
			{% if page.subtitle %}
			<h2 class="subtitle">{{page.subtitle}}</h2>
			{% endif %}

			<div class="blog-post-meta">
				<span><i class="fa fa-user"></i> By {% author page.author %}</span>
				<span><i class="fa fa-clock"></i> Posted on {{page.post_date|date:"M d, Y"}}</span>
				<span><i class="fa fa-comments"></i><a href="{{page.full_url}}#disqus_thread">0 Comments</a></span>
				{% if self.get_parent %}
					<span><a href="{{self.get_parent.url}}"><i class="fa fa-folder"></i> {{self.get_parent.title}}</a></span>
				{% endif %}
			</div>
		</div>

		<div class="col-12 col-sm-9">
			{% if page.header_video %}
				<div class="blog-post-header embed">
					{% embed page.header_video %}
				</div>
			{% elif page.header_image %}
				<div class="blog-post-header">
					{% image page.header_image original %}
				</div>
			{% endif %}

			<div class="blog-post-content">
				{% for block in page.content %}
					{% include_block block %}
				{% endfor %}
			</div>

			{% include "blog/tags.html" %}

			<hr>

			{% author_bio page.author %}



			{% if page.enable_comments and page.live %}
				{% include "disqus.html" %}
			{% endif %}

		</div>
		<div class="col-12 col-sm-3">
			{% include 'navigation/sidebar.html' %}
		</div>
	</div>
{% endblock %}

{% block extra_js %}{% endblock %}
