{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags customuser_tags %}

{% block body_class %}blog-page{% endblock %}

{% block content %}
	<div class="grid">
		<div class="col-12" style="padding-bottom:0;">
			<h1 class="title">{{page.title}}</h1>
			{% if page.subtitle %}
			<h2 class="subtitle">{{page.subtitle}}</h2>
			{% endif %}

			<div class="blog-post-meta">
				<span><i class="fa fa-user"></i> By {% author page.author %}</span>
				<span><i class="fa fa-clock"></i> Posted on {{page.first_published_at|date:"M d, Y"}}</span>
				<span><i class="fa fa-comments"></i> 0 Comments</span>
				<span><i class="fa fa-folder"></i> Reviews</span>
			</div>
		</div>

		<div class="col-12 col-sm-9">
			{% if page.header_image %}
				<div class="blog-post-header">
					{% image page.header_image original %}
				</div>
			{% endif %}

			{% include 'navigation/social-media.html' %}

			<div class="blog-post-content">
				{% for block in page.content %}
					{% include_block block %}
				{% endfor %}
			</div>

			<div class="blog-post-tags">
				{% if page.tags.all|length > 0 %}
					<i class="fa fa-tag"></i>
					{% for tag in page.tags.all %}
						<a href="#">{{tag}}{% if not forloop.last%}, {% endif %}</a>
					{% endfor %}
				{% endif %}
			</div>

			{% include 'navigation/social-media.html' %}

			{% author_bio page.author %}

			<div id="disqus_thread" class="blog-post-comments"></div>
			<noscript>
				Please enable Javascript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments</a>.
			</noscript>

		</div>
		<div class="col-12 col-sm-3">
			{% include 'navigation/sidebar.html' %}
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script>
		var disqus_config = function () {
			this.page.url = {{page.url}};
			this.page.identifier = {{page.disqus_identifier}};
		};
		(function() {
			var d = document, s = d.createElement('script');

			s.src = 'https://spritesanddice.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
{% endblock %}
