{% extends "page/base_page.html" %}
{% load static wagtailimages_tags customuser_tags menu_tags %}

{% block title %}{{user.get_full_name}}{% endblock %}
{% block og_title %}{{user.get_full_name}}{% endblock %}

{% block og_image %}{{request.site.hostname}}{{user.wagtail_userprofile.avatar.url}}{% endblock %}

{% block body_class %}user-page{% endblock %}

{% block page_feed %}
	{% author_bio user %}
	<hr>
	{% blog_posts  user=user page_number=request.GET.page as pages %}
	{% if pages|length > 0 %}
		<h3><br/>Posts by {{user.get_full_name}}</h3>
		{% for page in pages %}
			{% include "blog/medium_listing.html" %}
		{% endfor %}
		<hr>
		{% include "navigation/pagination.html" %}
	{% endif %}
{% endblock %}
