{% extends "wagtailadmin/base.html" %}

{% load wagtailadmin_tags static i18n admin_tags %}

{% block titletag %}{% trans "Dashboard" %}{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}

	<header class="merged nice-padding">
		<div class="row row-flush">
			<div class="col welcome">
				<img src="{% static 'img/logo-white.png' %}" alt="Sprites and Dice" />
			</div>
			<div class="col quick-actions">
				<div class="row row-flush">
					<div class="col">
						<div class="dropdown dropdown-button match-width">
							<input type="button" value="Post" class="button">
							<div class="dropdown-toggle icon icon-arrow-down"></div>
							<ul>
								{% folders as folders %}
								{% for folder in folders %}
								<li>
									<a href="/admin/pages/add/page/blogpage/{{folder.id}}/">
										{{folder.title}}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col">
						<a href="/admin/snippets/podcast/podcast/add/" class="button bicolor icon icon-plus">Podcast</a>
					</div>
					<div class="col">
						<a href="/admin/game/game/create/" class="button bicolor icon icon-plus">Game</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	{% if panels %}

		{% for panel in panels %}
			{{ panel.render }}
		{% endfor %}

		<div class="panel nice-padding">
			<section class="review-codes col12">
				{% review_copies %}
			</section>
		</div>

	{% endif %}

{% endblock %}
