{% load menu_tags wagtailimages_tags %}

<div class="panel">
	<h2>Available Review Copies</h2>
	<table class="listing">
		<thead>
			<tr>
				<th>Game</th>
				<th></th>
				<th>Available</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
				<tr>
					<td>
						<a href="/admin/game/game/edit/{{game.id}}/#id_review_copies-FORMS">
							{% image game.box_art height-80 %}
						</a>
					</td>
					<td>
						<a href="/admin/game/game/edit/{{game.id}}/#id_review_copies-FORMS">
							{{game.title}}
						</a>
					</td>
					<td>
						<a href="/admin/game/game/edit/{{game.id}}/#id_review_copies-FORMS">
							{{game.available_copies}}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
