{% load static wagtailimages_tags customuser_tags menu_tags %}

<div class="blog-post-listing medium grid">
	<div class="col-12 col-sm-5 listing-image">
		<a href="{{page.url}}" title="{{page.title}}">
			{% if page.header_image %}
				{% image page.header_image fill-1200x800 %}
			{% else %}
				<div class="placeholder"></div>
			{% endif %}
			{% if page.category.title != "Blog Posts" %}
				<label class="category-badge">
					{{page.category.title|unpluralize_category}}
				</label>
			{% endif %}
		</a>
	</div>
	<div class="col-12 col-sm-7 description">
		<h3 class="title"><a href="{{page.url}}" title="{{page.title}}">{{page.title}}</a></h3>
		{% if page.subtitle %}
			<h5 class="subtitle"><a href="{{page.url}}" title="{{page.title}}">{{page.subtitle}}</a></h5>
		{% endif %}
		{% include "blog/meta_tags.html" %}
	</div>
</div>
