{% extends "page/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}search-results-page{% endblock %}

{% block title %}Search Results{% if request.GET.query %} - "{{request.GET.query}}"{% endif %}{% endblock %}

{% block before_page_feed%}
	<div class="grid search-page-header">
		<div class="col-auto">
			<h1>Search Results</h1>
		</div>
		<div class="col-auto search-form">
			{% include "search/search_form.html" %}
		</div>
	</div>
{% endblock %}

{% block page_feed %}
	{% include "navigation/pagination.html" %}
	<hr>
	{% if pages %}
		{% for page in pages %}
			{% include "blog/feed_item.html" %}
		{% endfor %}
	{% elif search_query %}
		No results found
	{% endif %}
	<hr>
	{% include "navigation/pagination.html" %}
{% endblock %}
