{% extends "page/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}search-results-page{% endblock %}

{% block title %}Search Results{% if request.GET.query %} - "{{request.GET.query}}"{% endif %}{% endblock %}

{% block before_page_feed%}
	<div class="grid search-page-header">
		<div class="col-auto">
			<h1>Search Results</h1>
		</div>
		<div class="col-auto search-form">
			{% include "search/search_form.html" %}
		</div>
	</div>
{% endblock %}

{% block page_feed %}
	{% if search_results %}
		<ul>
			{% for page in search_results %}
				{% include "blog/feed_item.html" %}
			{% endfor %}
		</ul>

		{% if search_results.has_previous %}
			<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
		{% endif %}

		{% if search_results.has_next %}
			<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
		{% endif %}
	{% elif search_query %}
		No results found
	{% endif %}
{% endblock %}
