{% extends "page/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}search-results-page{% endblock %}

{% block title %}Search Results{% if request.GET.query %} - "{{request.GET.query}}"{% endif %}{% endblock %}
{% block og_title %}Search Results{% if request.GET.query %} - "{{request.GET.query}}"{% endif %}{% endblock %}

{% block before_page_feed%}
	<div class="grid search-page-header">
		<div class="col-12 col-md-auto">
			<h1>Search Results</h1>
		</div>
		<div class="col-12 col-md-auto search-form">
			{% include "search/search_form.html" %}
		</div>
	</div>
{% endblock %}

{% block page_feed %}
	{% if pages %}
		{% include "navigation/pagination.html" %}
		<hr>
		{% for page in pages %}
			{% include "blog/feed_item.html" %}
		{% endfor %}
		<hr>
		{% include "navigation/pagination.html" %}
	{% elif search_query %}
		<hr>
		<p>No results found.</p>
	{% endif %}
{% endblock %}
