@import '../colors.scss';

body.login{
    .wrapper{
        width:     450px;
        max-width: 100%;
        margin:    0 auto;
		padding:   0;
    }

	.content-wrapper {
		padding: 1em;
	}

    img.login-img{
        display:   block;
        margin:    10px auto;
        max-width: 90%;
    }

    h1{
        font-size:  3em;
        text-align: center;
    }

    .full .iconfield .input:before{
        left: 1em;
    }

    .fields li.full{
        position:  relative;
        width:     500px;
        margin:    auto;
        padding:   0;
        max-width: 100%;
        overflow:  hidden;

		@media (max-width: $width-xs) {
			input{
				padding: 1em;
			}
		}
		@media (min-width: $width-xs) {
			input{
				padding-left: 4em;
			}
		}

        &:nth-child(1){
            border-top-left-radius:  $border-radius;
            border-top-right-radius: $border-radius;
        }
        &:nth-child(2){
            border-bottom-left-radius:  $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    .submit button{
        width:100%;
    }
}
