.podcast-results-title{
	position: absolute;
	top: 30px;
	right: 50px;
}

.podcast-actions{
	float: right;
    margin-top: -70px;
}

#podcast-search.search-form {
	right:         50px;
	top:           30px;
	position:      absolute;
	border:        1px solid  #e6e6e6;
	border-radius: 500px;
	overflow:      hidden;
	z-index:       1;
	label{
		display: none;
	}
	li{
		padding: 0;
	}
	.field-content{
		width: 100%;
	}
	input{
		border: transparent;
	}
	.error-message{
		display:none;
	}
	.error input{
		background:#fafafa;
	}
}

#podcast{
	display:         flex;
	flex-direction:  row;
	justify-content: flex-start;
	align-items:     flex-start;
	padding:         30px 0;
	position:        relative;

	#album-art{
		max-width: 200px;
		img{
			border-radius: 3px;
		}
	}

	#metadata{
		max-width:   60%;
		padding:     15px 30px;

		h1{
			text-transform: capitalize;
		}

		.episode-count{
			opacity: .8;
		}

		> *{
			margin-top: 0;
		}

		p > a {
			white-space: nowrap;
		}
	}
}

table.listing#podcast-table{
	table-layout: fixed;
	width: 100%;

	.title-wrapper{ font-weight: 500; }

	a:not(:hover){ background: transparent }

	a{
		transition:    0.3s ease-in-out all;
		text-overflow: ellipsis;
		overflow:      hidden;
		white-space:   nowrap;
		display:       block;
	}
	th, td{
		padding:       .6em .8em;
		text-overflow: ellipsis;
		overflow:      hidden;
		white-space:   nowrap;
		&.select{      width:  20px; }
		&.episode{     width:  15px; }
		&.title{       width: 130px; }
		&.description{ width: 100px; }
		&.length{      width:  60px; }
		&.date{        width:  60px; }
		&.actions-cell{
			width: 100px;
			ul.actions{
				display:table-cell;
				> li{ float: right; margin:0; }
			}
		}
	}
	tbody{
		border: none;
		tr{
			border: none;
			transition: 0.1s ease-in-out all;
			&:nth-child(odd):not(.selected):not(:hover){
				background-color: #f8f8f8;
			}
			td{
				&.actions-cell .actions{
					visibility: visible;
				}
			}
		}
	}
}
