{% load static wagtailuserbar %}
<!--

          .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM\
         dMMMMMMMNNNNNMMMMMMMMMMMMMMMMMMMMM\
        mMMMM``                       \MMMMM\
       dMMMN`                          \MMMNM\
       NMMM`                            \MMMMh\
       dMMM                              \NMMMd\
       qNMMMm.                            \NMMMM\
        `dNMMMNNm..                        \mMMMN\
          -+dNMMMMMMNm.                     |MMMMM
             `:osddMMMMM.                  /mMMMN/
                 ```+dMMMM,               /NMMMd/
                      sMMMN              /NMMMd/
                      oMMMN             /MMMMo/
                     -mMMMm            /MMMNo/
                 .//ohNMMM'           /NMMMN/
MMMM  MNNNNNNNNNNMMMMMMMMMMMMMMMMMMMMMMMMm-/
MMMM  MNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMm-/

-->
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}

                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="skip-link"><a href="#main-content" class="element-invisible element-focusable">Skip to main content</a></div>

        {% block content %}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/spritesanddice.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
