{% load static wagtailuserbar wagtailfontawesome wagtailimages_tags menu_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	{% with request.site.site_name as site_name %}
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />

			<title>
				{% block title %}
					{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
				{% endblock %}
				{% if self.title != "Sprites and Dice" %} | Sprites and Dice{% else %}| {{settings.spritesanddice.SiteSettings.slogan}}{% endif %}
			</title>

			{% if page %}
				{% include "page_meta.html"%}
			{% else %}
				{% include "meta_tags.html" %}
			{% endif %}

			{% include "google_analytics.html" %}

			<link rel="icon" href="{% static '/favicon.ico' %}">

			{# Preload the most important fonts #}
			<link rel="preload" as="font" href="{% static 'fonts/Roboto-Regular.ttf'    %}" type="font/ttf"  crossorigin="anonymous">
			<link rel="preload" as="font" href="{% static 'fonts/jaapokki-regular.woff' %}" type="font/woff" crossorigin="anonymous">

			{# Global stylesheets #}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v={{VERSION}}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/reflex.css' %}">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

			{% block extra_css %}
				{# Override this in templates to add extra stylesheets #}
			{% endblock %}
		</head>
	{% endwith %}

	<body class="{% block body_class %}{% endblock %}">
		{% wagtailuserbar %}

		{% block header %}
			{% include 'navigation/header.html' %}
		{% endblock %}

		{% include 'navigation/navbar.html' %}

		<main>
			{% block content %}
			{% endblock %}
		</main>

		{% include 'navigation/footer.html' %}

		{# Global javascript #}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/navigation.js' %}?v={{VERSION}}"></script>
		<script type="text/javascript" src="{% static 'js/spritesanddice.js' %}?v={{VERSION}}"></script>

		{% block extra_js %}
			{# Override this in templates to add extra javascript #}
		{% endblock %}
	</body>
</html>
