{% extends "meta_tags.html" %}

{% load wagtailimages_tags menu_tags %}

{% block og_title %}{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title}}{% endif %}{% endblock %}

{% block og_description   %}{{page.subtitle}}{% endblock %}
{% block meta_description %}{{page.subtitle}}{% endblock %}

{% block og_image %}{% image page.header_image width-1080 as header_image %}https://www.spritesanddice.com{{header_image.url}}{% endblock %}

{% block og_url %}{{page.full_url}}{% endblock %}

<meta property="og:updated_time"        content="{{page.iso_last_modified}}" />
<meta property="article:published_time" content="{{page.iso_published}}" />
<meta property="article:modified_time"  content="{{page.iso_last_modified}}" />
