{% extends "page/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags menu_tags %}

{% block body_class %}password-protected-page{% endblock %}

{% block title %}Password Required{% endblock %}

{% block page_feed %}
	<div id="password-content" class="grid">
		<div class="col-12">

			<h1>{% trans "Password required" %}</h1>
			{% block password_required_message %}
			<p>{% trans "This page is not intended for the public just yet. If you have a password, enter it below." %}</p>
			{% endblock %}

			<form action="{{action_url}}" method="POST">
				{% csrf_token %}

				<input type="password" name="password" required="" id="id_password" placeholder="Password">
				{{form.return_url}}


				<input type="submit" value="{% trans 'Continue' %}" class="button" />
			</form>
		</div>
	</div>
{% endblock %}
