<div class="grid">
	{% for user in users %}
		<div class="col-6 col-xs-4 user-bio-small avatar-column">
			<a href="/users/{{user.username}}" title="{{user.get_full_name}}">
				<img
					{% if user.avatar_file_type == 'gif' %}class="pixel-art"{% endif %}
					src="{{user.wagtail_userprofile.avatar.url}}"
					alt="{{user.get_full_name}}'s Profile Picture">
				<h4>{{user.get_full_name}}</h4>
			</a>
			{% if user.title %}<h5><small>{{user.title}}</small></h5>{% endif %}
			{% include "users/author_social_links.html" %}
		</div>
	{% endfor %}
</div>
