// Sprites and Dice Brand Palette
$light-blue:   #00ACDB;
$mid-blue:     #0098B7;
$darker-blue:  #008DA9;
$darkest-blue: #00667F;
$sprites-grey: #232323;

$light-grey:   #CCCCCC;
$lighter-grey: #EEEEEE;

$text-color: #2E2E2E;
$dark-text:  #272727;

$primary-link-color:   #008da8;
$secondary-link-color: #619d5f;

$white: #F9F9F9;

// Brand Colors
$facebook: #3A5795;
$twitter:  #1DA1F2;
$patreon:  #FE5900;
$discord:  #7289DA;
