/**
 *  Declare @font-face tags here.
 */


/* ========== Roboto ========== */

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'),
		 local('Roboto-Regular'),
		 url('../fonts/Roboto-Regular.ttf');
	font-weight:  normal;
	font-style:   normal;
	font-display: swap;
}

/* ========== Open Sans ========== */

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'),
		 local('Open-Sans-Regular'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff');
	font-weight:  normal;
	font-style:   normal;
	font-display: fallback; // Fallback for Roboto
}


/* ========== Jaapokki ========== */

@font-face {
	font-family: 'Jaapokki';
	src: local('Jaapokki Regular'),
		 local('Jaapokki-Regular'),
		 url('../fonts/jaapokki-regular.woff') format('woff');
	font-weight:  normal;
	font-style:   normal;
	font-display: swap;
}


/* ========== Roboto Slab ========== */

@font-face {
	font-family: 'Roboto Slab';
	src: local('Roboto Slab Regular'),
		 local('Roboto-Slab-Regular'),
		 url('../fonts/RobotoSlab-Regular.ttf');
	font-weight:  normal;
	font-style:   normal;
	font-display: fallback; // Fallback for Jaapokki
}
