/**
 *  Try to manage assigning font-families and font-sizes here, it will make scaling text responsively less of a headache
 */

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'Jaapokki';
    src: url('../fonts/jaapokki-regular.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}
