// Keep a consistent border radius on all buttons / tags
$border-radius: 2.5px;

// Reflex Grid Breakpoints
$width-xs:  576px;
$width-sm:  768px;
$width-md:  992px;
$width-lg:  1200px;
$width-xlg: 1600px;
